body {
  padding: 0;
	margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

h1 {
	text-align: center;
	padding: 10px;
	font-size: 110px;
}

form  {
	width: 100%;
	margin: 0 auto;
	display: block;
	padding: 20px;
	
}

.btn {
	display: block;
	width: 100%;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1px;
}
.navbar {
    min-height: 60px;
    
}

/* user profile */

.col-md-6 img {
    border-radius: 50%;
}

/*
.container-profile {
    max-width: 100%;
    margin: 0 auto;
	padding: 0 2rem;
	border: 2px solid red;
}

.profile {
    padding: 5rem 0;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {

    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    border-radius: 50%;
    border: 2px solid blue;
}
.profile-image img {
    border-radius: 50%;
}

.profile-user-settings {
    float: left;
    width: 1000% vw;
	margin-top: 1.1rem;
	border: 2px solid fuchsia;
}
  
.profile-user-name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}

.profile-edit-btn {
	display: inline-block;
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}

.sidenav {
    margin-top:60px;
    height: 100%;
    width: 200px;
    position: flex;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:white;
    overflow-x: hidden;
  }
  */
  /*
  /* Side navigation links 
  .sidenav a {
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover 
  .sidenav a:hover {
    background-color: #ddd;
    color: black;
  }
*/

/*
    @supports (display: grid) {
        .profile {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: repeat(3, auto);
            grid-column-gap: 3rem;
            align-items: center;
        }

        .profile-image {
            grid-row: 1 / -1;
    }
    */
	/* .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
    } 


*/
/* .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
	cursor: pointer;

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* edit profile */

.container-profile-edit {
    max-width: 50.5rem;
    margin: 0 auto;
	padding: 0 2rem;
	
}
.btn-group  {
    margin: 10px auto;
    padding: 20px 50px;
    display: inline-block;
}
.btn-primary{
  background-color: #00b7ff;
  width: 100%;
  border: 1px solid #00b7ff;
  padding: 5px 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

.bt-outline-primary{
	outline-color:  #00b7ff;
	background-color: #fff;
	width: 100%;
	border: 1px solid #00b7ff;
	padding: 5px 12px;
	color:  #00b7ff;
	font-weight: bold;
	cursor: pointer;
	border-radius: 3px;
}


p {
	
	text-align: center;
}

a {
  color: #00b7ff;
}

#img-box {
	border-radius: 5%;
  	height: 200px;
	width: 300px;
	overflow: hidden;
}

#img-box img {
    width: 100%;
    height: 100%;
	object-fit: cover;
}

#img-banner {
	height: 400px;
	width: 100%;
	object-fit: cover;
}

#img-banner img {
	height: 400px;
}

#error-message {
  background-color: crimson;
}