<h2>Events</h2>
<hr>

<a type="button" class="btn btn-secondary" href="/events/create">Create</a>
<br>

<div class="row">
  {{#each events}}
    <div class="col-sm-4">
      <div id="img-box">
        <a href='/events/{{this._id}}'>
        <img src={{this.photoUrl}} alt={{name}}/>
        </a>
      </div>
      <h3>{{this.name}}</h3>
    </div>
  {{/each}}
</div>   