<div class="main-container">
  <h2>Events</h2>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-6">
        <a type="button" class="btn btn-outline-secondary" href="/events/create">Create</a><br>
      </div>
    </div>
  </div>
  <hr>

  <!--Events list-->
  <div class="container">
    <div class="row">
      {{#each events}}
        <div class="col-sm-4">
          <div id="img-box">
            <a href='/events/{{this._id}}'>
            <img src={{this.photoUrl}} alt={{name}}/>
            </a>
          </div>
          <h3 class="text-center my-3">{{this.name}}</h3>
        </div>
      {{/each}}
    </div> 
  </div>  
</div>