{{!-- events-create.hbs --}}

<h2>Create an event</h2>

<form action="/events/create" method="post">

  <label for="name-input">Event name:</label>
  <input type="text" name="name" id="name-input" />

  <label for="date-input">Date and time:</label>
  <input type="date" name="date" id="date-input" />

  <label for="description-input">Description:</label>
  <textarea name="description" id="description-input" cols="30" rows="4"> </textarea>

  <label for="location-input">Location:</label>
  <input type="text" name="location" id="location-input" />
  

  <button type="submit">Create</button>  

</form>