{{!-- events-create.hbs --}}

<div class="container">
  <h2>Create an event</h2>
  <div class="row">
    <div class="col-md-4">
      <!--Current User Photo
       			 <img src={{user.photoUrl}} alt={{user.name}}>-->
      <form action="/auth/profile/edit" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="image-input">Image:</label>
          <input type="file" name="image" id="image-input" class="form-control-file" />
          <input type="text" name="existingImage" hidden id="" value="{{user.photoUrl}}">
        </div>
        <button type="submit" class="btn btn-success">Upload photo</button>
      </form>
    </div>
    <div class="col-md-8">  
      <form action="/events/create" method="post">
        <div class="form-row">
            <div class="form-group col-md-10">
              <label for="inputEvent">Event Name:</label>
              <input type="text" class="form-control" id="inputEvent" name="event" required>
            </div>
            <div class="form-group col-md-10">
              <label for="inputDescription">Description:</label>
              <input type="text" class="form-control" id="inputDescription" name="description" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputCity">Date and time</label>
                <input type="datetime-local" class="form-control" id="inputdate" name ="date" required>
            </div>
          
            <div class="form-group col-md-4">
                <label for="inputLocation">City</label>
                <select id="inputLocation" class="form-control"name="location">
                  <option selected="disabled hidden">Choose..</option>
                  <option value="Amsterdam">Amsterdam</option>
                  <option value="Lisbon">Lisbon</option>
                  <option value="London">London</option>
                  <option value="New York">New York</option>
                  <option value="Paris">Paris</option>
                  <option value="Rome">Rome</option>
                  <option value="Seville">Seville</option>
                  <option value="Sydney">Sydney</option>
                  <option value="Stockholm">Stockholm</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputType">Type:</label>
              <select type="type" id="inputType" class="form-control" name="input" required>
                <option selected="disabled hidden">Choose..</option>
                <option value="Amsterdam">Amsterdam</option>
                <option value="Lisbon">Lisbon</option>
                <option value="London">London</option>
                <option value="New York">New York</option>
                <option value="Paris">Paris</option>
                <option value="Rome">Rome</option>
                <option value="Seville">Seville</option>
                <option value="Sydney">Sydney</option>
                <option value="Stockholm">Stockholm</option>
              </select>
            </div>
          </div>
        <button type="submit" class="btn btn-primary"> Saved changes</button>
      </form>
    </div>
