<h1>LOGIN</h1>
<div class="container" style="width:500px">
    <div class="row">
    <div class="col-md-10">
	<form action="/auth/login" method="POST">
		 <div class="form-group">
			<input type="email" name="email" class="form-control" placeholder="E-mail">
		</div>
		<div class="form-group">  
			<input type="password" name="password" class="form-control" placeholder="Password">
		</div>
		<button type="submit" class="btn btn-primary">Log In</button>
	</form>
  </div>
  </div>	
</div>
<div class="box" style="width:500px" >
	<p>Don't have account? <a href="/auth/signup">Sign up</a></p>
</div>

<div class="box" id="error-message" style="width:500px">
    <p>{{errorMessage}}</p>
</div>