<div class="main-container">
  <div class="container" style="text-align: center;">
    <h2>Cities</h2>
  <hr>
  </div>

  <div class="container">
  <div class="row">
    {{#each cities}}
      <div class="col-sm-4">
        <div id="img-box">
          <a href='/cities/{{_id}}/events'>
          <img src={{this.photoUrl}}/>
          </a>
        </div>
        <h4 class="text-center my-3">{{this.name}}</h4>
      </div>
    {{/each}}
  </div>   
  </div>
 

</div>
